body, .card-body {
    background-color: #F0F0EB !important;
}
.foucus-none:focus{
    box-shadow: none !important;
}
.choose-card {
    font-size: 40px;
    font-family: 'Freehand', cursive;
    padding: 10px 0px;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 10;
    background: #fff;
}
.card-dark-background {
    left: 0;
    width: 100%;
    background: #b6b6a1 !important;
    text-align: center;
}
.category-dropdown-menu {
    background-color: #F0F0EB !important;
    margin-top: 0 !important;
    max-height: 300px;
    overflow: auto;
}
.category-dropdown-list {
    display: block;
    text-align: left;
    white-space: nowrap;
    padding: 6px 10px;
}
.card-container .card {
    width: 18rem;
    margin: 10px;
    padding: 20px;
}
.card-grid:hover {
    background-color: #b6b6a1;
}
.card-title {
    font-size: 12px;
    font-weight: 300;
}
.card-category {
    padding-left: 5px;
    font-size: 15px;
    font-weight: 500;
}
.card-name {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
    border-bottom: 1px solid #DDDDD6;;
}
.card-price {
    font-size: 20px;
    padding: 5px;
    font-weight: 500;
    border-bottom: 1px solid #DDDDD6;
    border-top: 1px solid #DDDDD6;

}
.toggle-desc {
    font-size: 13px !important;
    background-color:transparent !important;
    color:black !important;
    outline:none;
    border:none !important;
}
.card .btn-primary {
    background: #4BC9C6;
    border-color: #4BC9C6;
}
.card .btn-primary:hover {
    background: #00B3B3;
    border-color: #00B3B3;
    transform: scale(0.8);
}
.card .btn-primary:active {
    box-shadow: none !important;
    outline: none !important;
    background: #00B3B3 !important;
    border-color: #00B3B3 !important;
}
.templates {
  margin-bottom: 20px;
  background: white;
  border: 1px solid rgba(74, 74, 74, 0.075);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  color: #204056;
  font-size: 18px;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.card-image {
    position: relative;
}
.card-image .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.section-headers {
    color: black !important;
}
.selected-card-image {
    height: 150px;
}

.template-dropdown-menu {
    background-color: #F0F0EB !important;
    margin-top: 0 !important;
    max-height: 300px;
    overflow: auto;
}
.template-dropdown-list {
    display: block;
    text-align: left;
    white-space: nowrap;
    padding: 6px 10px;
}

.msg-body{
    height : 400px;
}

.message-box {
    width: 200px;
    height: 200px;
}

.template_dropdown
{
  display:none;
  text-align: center;
}

.button-style {
    border: #b6b6a1 !important;;
    background: #b6b6a1 !important;;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
}
